h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
}

h5 {
    margin-right: 10px;  
}

.container {
    background-color: black;
    max-width: 100%;
    padding: 1px;
}

.navbar {
    width: 20%;
}

.jumbotron {
    justify-content: center;
    margin-left: 300px;
    margin-top: -110px;
    margin-bottom: -100px;
    background-color: white;
    border-style: ridge;
    border-color: lightgrey;
}

.forecast5Day {
    margin-left: 300px;
    margin-top: 100px;
    font-size: large;
}

.card1 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: -10px;
    height: 200px;
    justify-content: space-evenly;
    background-color: royalblue;
    color: white;
    font-size: 15px;
}
.card2 {
    margin-left: 175px;
    margin-top: -185px;
    height: 200px;
    background-color: royalblue;
}
.card3 {
    margin-left: 175px;
    margin-top: -185px;
    height: 200px;
    background-color: royalblue;
}
.card4 {
    margin-left: 370px;
    margin-top: -197px;
    height: 200px;
    background-color: royalblue;
}
.card5 {
    margin-left: 180px;
    margin-top: -180px;
    height: 200px;
    background-color: royalblue;
}

#currentCity {
    margin-top: 5px;
}




